@using Practica2.BLL.DTO
@model List<ProductoDTO>

@{
    ViewData["Title"] = "Productos";
}

<div class="page-card">

    <div class="page-header">

        <div>
            <h1>Productos</h1>
            <p>Administra el inventario de productos médicos.</p>
        </div>

        <button type="button"
                class="btn btn-main"
                data-bs-toggle="modal"
                data-bs-target="#modalCrearProducto">
            + Nuevo Producto
        </button>

    </div>

    <table id="tblProducto"
           class="table custom-table align-middle"
           style="width:100%">

        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="25%">Nombre</th>
                <th width="15%">Precio</th>
                <th width="15%">Stock</th>
                <th width="20%">Categoría</th>
                <th width="15%" class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody></tbody>

    </table>

</div>

@await Html.PartialAsync("_Editar")
@await Html.PartialAsync("_Crear")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/producto.js" asp-append-version="true"></script>
}