@model Practica2.BLL.DTO.CategoriaDTO

<div class="modal fade"
     id="modalCrearCategoria"
     tabindex="-1"
     aria-labelledby="labelModalCrearCategoria"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-custom">

            <div class="modal-header modal-header-custom">
                <div>
                    <h5 class="modal-title" id="labelModalCrearCategoria">
                        Nueva Categoría
                    </h5>
                    <small>Registra una nueva categoría médica</small>
                </div>

                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">

                <form id="formCrearCategoria"
                      asp-action="CreateCategoria"
                      asp-controller="Categoria"
                      method="post">

                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label fw-bold">
                            Nombre
                        </label>

                        <input asp-for="Nombre"
                               class="form-control input-custom"
                               placeholder="Ej: Equipo médico" />

                        <span asp-validation-for="Nombre"
                              class="text-danger small">
                        </span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Descripcion"
                               class="form-label fw-bold">
                            Descripción
                        </label>

                        <textarea asp-for="Descripcion"
                                  class="form-control input-custom"
                                  rows="4"
                                  placeholder="Ingrese una descripción breve"></textarea>

                        <span asp-validation-for="Descripcion"
                              class="text-danger small">
                        </span>
                    </div>

                </form>

            </div>

            <div class="modal-footer modal-footer-custom">

                <button type="button"
                        class="btn btn-cancel"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button type="button"
                        class="btn btn-save"
                        id="btnGuardarCategoria">
                    Guardar
                </button>

            </div>

        </div>
    </div>

</div>