@model Practica2.BLL.DTO.CategoriaDTO

<div class="modal fade"
     id="modalEditarCategoria"
     tabindex="-1"
     aria-labelledby="labelModalEditarCategoria"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-custom">

            <div class="modal-header modal-header-custom">

                <div>
                    <h5 class="modal-title"
                        id="labelModalEditarCategoria">
                        Editar Categoría
                    </h5>

                    <small>Actualice la información de la categoría.</small>
                </div>

                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <form id="formEditarCategoria"
                      asp-action="UpdateCategoria"
                      asp-controller="Categoria"
                      method="post">

                    @Html.AntiForgeryToken()

                    <input asp-for="IdCategoria" type="hidden" />

                    <div class="mb-3">

                        <label asp-for="Nombre"
                               class="form-label fw-bold">
                            Nombre
                        </label>

                        <input asp-for="Nombre"
                               class="form-control input-custom"
                               placeholder="Ingrese el nombre" />

                        <span asp-validation-for="Nombre"
                              class="text-danger small">
                        </span>

                    </div>

                    <div class="mb-3">

                        <label asp-for="Descripcion"
                               class="form-label fw-bold">
                            Descripción
                        </label>

                        <textarea asp-for="Descripcion"
                                  rows="4"
                                  class="form-control input-custom"
                                  placeholder="Ingrese la descripción"></textarea>

                        <span asp-validation-for="Descripcion"
                              class="text-danger small">
                        </span>

                    </div>

                </form>

            </div>

            <div class="modal-footer modal-footer-custom">

                <button type="button"
                        class="btn btn-cancel"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button type="button"
                        class="btn btn-save"
                        id="btnEditarCategoria">
                    Guardar cambios
                </button>

            </div>

        </div>
    </div>

</div>